/* Note.css */

.note {
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    background: #f4f4f4;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.note p {
    display: inline-block;
    margin-right: 10px;
}

.note textarea {
    width: 100%;
    height: 100px;
    resize: none;
}

button {
    margin-top: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f0f0f0;
}